%shadow{
  box-shadow: 5px 5px 10px $shadow;
}

%drop-shadow {
  filter: drop-shadow(5px 5px 10px $shadow)
}

%heavy-drop-shadow {
  filter: drop-shadow(5px 5px 10px $heavy-shadow)
}

%card-base{
  @extend %shadow;
  border-radius: 5px;
  padding: 30px;
  display: block;
  margin-bottom: 5px;
}

%round-border {
  border-radius: 999999px;
}

%home-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1260px;
  margin: 0px auto;
  height: 60vh;
  min-height: 540px;
  padding: 15px 0 15px 0;
}
