%shadow{
  box-shadow: 5px 5px 10px $shadow;
}

%drop-shadow {
  filter: drop-shadow(5px 5px 10px $shadow)
}

%heavy-drop-shadow {
  filter: drop-shadow(5px 5px 10px $heavy-shadow)
}

%card-base{
  @extend %shadow;
  border-radius: 5px;
  padding: 30px;
  display: block;
  margin-bottom: 5px;
}

%round-border {
  border-radius: 999999px;
}
