.info-panels {
  @extend %home-section;

  .info-panel {
    display: flex;
    flex-flow: column nowrap;
    max-width: 300px;
    align-items: center;
    margin: 0 10px 0 10px;

    img {
      @extend %drop-shadow;
      height: 165px;
    }

    h3 {
      margin: 25px 0 10px 0;
    }
  }
}