.navbar {
  @extend %shadow;
  margin-bottom: 10px;

  .nav-link.active {
    font-weight: 500;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: space-around;

    input {
      margin: 5px;
    }
  }
}