/* Coolors Exported Palette - coolors.co/08415c-119da4-5abcb9-f6f0e0-c84630 */

/* HSL */
$color1: hsla(199%, 84%, 20%, 1);
$color2: hsla(183%, 81%, 35%, 1);
$color3: hsla(178%, 42%, 55%, 1);
$color4: hsla(44%, 55%, 92%, 1);
$color5: hsla(9%, 61%, 49%, 1);

/* RGB */
$color1: rgba(8, 65, 92, 1);
$color2: rgba(17, 157, 164, 1);
$color3: rgba(90, 188, 185, 1);
$color4: rgba(246, 240, 224, 1);
$color5: rgba(200, 70, 48, 1);
